{% extends 'blog/post.html' %}
{% block content %}

            <div class="post">
                
                {% if user.is_authenticated %}
            	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit the Record</a>
                {% endif %}

                <div class="date">
                    <p>published: {{ post.published_date }}</p>
                    </div>
                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <div>
                             {% autoescape off %}
                            {{ post.text }}
                            {% endautoescape %}
                        </div>
                        </div>

{% endblock %}
